.directionRecap {
    background-color: rgb(10, 138, 185);
    text-decoration: none;
    width: 20%;
    height: 50px;
    border-radius: 50px 50px;
    float: right;
    
}

a{
    text-decoration: none;
    color: white;
 }

 i{
    color: rgb(3, 64, 80);
 }

 .suppTout{
    text-decoration: none;
    background-color:rgb(10, 138, 185) ;
    border-radius: 5px 5px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
 }

